.App {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #0b0e14;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.content-wrapper {
  width: 100%;
  min-height: calc(100vh - 120px);
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.content-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
