$bg-color: #0b0e14;
$surface-color: #1c1f26;
$violet: #8a2be2;
$teal: #00ced1;
$pink: #ff007f;
$text-white: #ffffff;

.category-page {
  background-color: #0b0e14;
  padding: 5px 20px 10em 20px;
  min-height: 100vh;
  text-align: center;

  h2 {
    color: #8a2be2;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }

  .no-results {
    color: #ff007f;
    margin-top: 50px;
    font-style: italic;
  }
}

.two-oz-cocktails {
  background-color: $bg-color;
  padding: 10px 20px 25em 20px;
  min-height: 100vh;
  text-align: center;

  h2 {
    color: $violet;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
}

.cocktail-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 8em;
}

.cocktail-card {
  position: relative;
  background: $surface-color;
  border: 1px solid rgba($violet, 0.5);
  border-radius: 15px;
  padding: 12px 15px;
  cursor: pointer;
  color: $text-white;
  display: flex;
  align-items: center;
  gap: 15px;

  .list-thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    border: 1px solid rgba($teal, 0.4);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .card-fav-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
  }

  h3 {
    color: $teal;
    margin: 0;
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.2;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: $surface-color;
  border: 2px solid $pink;
  box-shadow: 0 0 25px rgba($pink, 0.4);
  width: 90%;
  max-width: 500px;
  border-radius: 25px;
  padding: 30px;
  position: relative;
  text-align: left;
  color: $text-white;
  margin-bottom: 5rem;

  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba($text-white, 0.1);
    padding-bottom: 15px;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      color: $teal;
    }
    .close-x {
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: end;
    }
  }

  .modal-cocktail-img {
    max-height: 250px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px rgba(0, 206, 209, 0.749);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    h4 {
      color: $violet;
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;
      font-size: 14px;
    }
    p {
      font-size: 14px;
      margin: 5px 0;
    }
  }

  .close-btn {
    width: 100%;
    margin-top: 25px;
    background: $pink;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
  }
}

.recipe-section,
.method-section {
  h4 {
    letter-spacing: 1px;
  }

  ul li,
  p {
    color: #b4b5b8;
    font-size: 14px;
    line-height: 1.5;

    strong {
      color: $text-white;
      opacity: 0.9;
    }
  }
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.favorite-btn.active {
  svg {
    filter: drop-shadow(0 0 8px rgba(255, 0, 127, 0.8));
    path {
      fill: #ff007f !important; // Forces the center to be pink
      stroke: #ff007f !important; // Forces the outline to match
    }
  }
}
