@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.favorite-btn {
  background: rgba(15, 15, 20, 0.6);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease;

  &.error-shake {
    animation: shake 0.4s ease-in-out;
    .heart-icon {
      color: #ff4d4d !important;
      stroke: #ff4d4d !important;
      fill: none !important;
      filter: drop-shadow(0 0 12px #ff4d4d) !important;
    }
  }

  .heart-icon {
    stroke: white;
    fill: none;
    transition: all 0.3s ease;
  }

  &.active {
    border-color: rgba(255, 0, 127, 0.5);

    .heart-icon {
      stroke: #ff007f !important;
      fill: #ff007f !important;
      path {
        fill: #ff007f !important;
        stroke: #ff007f !important;
      }

      filter: drop-shadow(0 0 8px rgba(255, 0, 127, 0.8));
      transform: scale(1.1);
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}
